
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8FAFC;
    --font-family: "Inter", "sans-serif";
  }
}

body {
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.columnTitle{
  @apply text-slate-800 text-2xl font-semibold
}

.isFocused{
  @apply flex items-center justify-center gap-2 cursor-pointer rounded-lg py-1 px-2 text-base font-medium text-sky-700 bg-sky-100
}

.isNotFocused{
  @apply flex items-center justify-center gap-2 cursor-pointer rounded-lg py-1 px-2 text-base font-medium
}

.inputDefault{
  @apply py-2 px-3 rounded-xl text-slate-900 border-slate-300 border outline-none placeholder:text-slate-500 font-normal
}

.containerInputDefault{
  @apply flex flex-col gap-1 text-lg font-medium text-slate-800
}
