@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8FAFC;
    --font-family: "Inter", "sans-serif";
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.columnTitle{
  @apply text-slate-800 text-2xl font-semibold
}

.columnItem{}
