@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
}

@media (prefers-color-scheme: light) {
  body {
    --title: #0F172B;
    --subTitle: #314158;
    --text: #0F172B;
    --background: #F8FAFC;
  }
}
body{
  prefers-color-scheme: light;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.columnTitle{
  @apply text-slate-800 text-2xl font-semibold 
}

.isFocused{
  @apply flex items-center justify-center gap-2 cursor-pointer rounded-lg py-1 px-2 text-base font-medium text-sky-700 bg-sky-100
}

.isNotFocused{
  @apply flex items-center justify-center gap-2 cursor-pointer rounded-lg py-1 px-2 text-base font-medium
}

.inputDefault{
  @apply py-2 px-3 rounded-xl text-slate-900 border-slate-300 border outline-none placeholder:text-slate-500 font-normal
}

.containerInputDefault{
  @apply flex flex-col gap-1 text-lg font-medium text-slate-800
}

.priority-high{
  @apply text-red-700 bg-red-100
}
.priority-medium{
  @apply text-amber-700 bg-amber-100
}
.priority-low{
  @apply text-sky-700 bg-sky-100
}

.status-pending{
  @apply text-red-700 bg-red-100
}
.status-done{
  @apply text-emerald-700 bg-emerald-100
}
.status-in-progress{
  @apply text-sky-700 bg-sky-100
}
